:root {
    --font-size: 1vw;
    --color-blue: lightblue;
    --color-pink: pink;
}

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(var(--font-size) + 5px);
    line-height: 1.5;
}

h1, 
h2, 
h3 {
    color: var(--color-blue);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

    h1 {
    font-size: calc(var(--font-size) * 6);
    background-image: linear-gradient(60deg, var(--color-blue), var(--color-pink));
    background-clip: text;
    color: transparent;
    text-transform: uppercase; 
    font-weight: regular;
    letter-spacing: .1rem;
    }

    h2 {
    font-size: calc(var(--font-size) + 32px);
    }

    h3 {
    font-size: 1.5rem;
    }


p {
    font-size: 1.1rem;
}


nav {
    background-image: linear-gradient(to bottom right, var(--color-blue), var(--color-pink));
}

nav ul::before {
    content: "\1F31F";
    font-size: 2rem;
}

nav ul {
    padding-left: 0;
    width: calc(60% + 30px);
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin: 0 auto;
}

h2::before {
    content: "\1F31F";
    font-size: 3rem;
}

h3::before {
    content: "\1F31F";
    font-size: 2.5rem;
}

.signif-design li {
    list-style-type: "\1F31F";
    text-indent: .5rem;
}

nav a:visited {
    color: white;
}


a:hover {
    cursor:pointer;
}

nav a:hover {
    color: lightseagreen;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(80% - 40px);
    margin: 0 auto;
}

main {
    width: calc(60% - 40px);
    margin: 0 auto;
}

img {
    max-width: 95%;
}

footer {
    font-size: 18px;
    line-height: 1.1;
}








