html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    color:darkslategray;
}

:root {
    --font-size: 1vw;
    --color-blue: lightblue;
    --color-pink: rgb(157, 171, 248);
}

    nav {
        background-image: linear-gradient(to bottom right, var(--color-blue), var(--color-pink));
    }

    nav li {
        list-style-type: none;
    }

    nav li::before,
    nav li::after {
        content: "\2665";
        padding: 10px;
    }

    nav {
        text-align: center;
        background-color: #77BEF0;
        position: sticky;
        top: 0;
        padding: .1px;
    }

    nav a {
        font-weight: 600;
        font-size: 1.5rem;
    }

    nav li {
    display: inline;
    padding: 10px;
    }

    nav a {
        color: white;
    }

    nav a:visited {
        color: lavender;
    }

    nav a:hover {
        cursor: pointer;
    }

    nav a:hover {
        color: purple;
    }

    h1 {
        font-size: calc(var(--font-size) * 5);
        background-image: linear-gradient(60deg, var(--color-blue), var(--color-pink));
        background-clip: text;
        color: transparent;
        text-transform: uppercase; 
        font-weight: regular;
        letter-spacing: .1rem;
        text-align: center;
        margin: 0 auto;
    }

    .title1::before {
        content: "\2665";
        padding: 10px;
    }

    .title1 {
        font-size: calc(var(--font-size) * 2.5);
        color: #77BEF0;
        margin-left: 5%;
    }

    .title2::before {
        content: "\2665";
        padding: 10px;
    }

    .title2 {
        font-size: calc(var(--font-size) * 2.5);
        color: #77BEF0;
        margin-left: 5%;
    }

    .title3::before {
        content: "\2665";
        padding: 10px;
    }

    .title3 {
        font-size: calc(var(--font-size) * 2.5);
        color: #77BEF0;
        margin-left: 5%;
    }

.piece1, .piece2, .piece3, .piece4 {
    display: inline-block;
    margin: 2% 1% 5% 5%;
}

.piece5, .piece6, .piece7, .piece8 {
    display: inline-block;
    margin: 2% 1% 5% 4%;
}

.piece9, .piece10, .piece11, .piece12 {
    display: inline-block;
    margin: 2% 1% 5% 4%;
}


.piece1 img, .piece2 img, .piece3 img, .piece4 img, .piece5 img, .piece6 img, .piece7 img, .piece8 img, .piece9 img, .piece10 img, .piece11 img, .piece12 img {
    width: 300px;
    border: 5px solid lavender;
    box-shadow: 10px 10px 5px grey;
    margin: 20px;
}

footer {
    color: #77BEF0;
    text-align: center;
    font-size: 1.1rem;
}

.info a:visited {
    color: lavender
}

.info a:hover {
    color: purple;
}

.top-link {
    font-size: 1rem;
}