html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}


h1 {
    color: #77BEF0;
    font-style: normal;
    font-size: 3rem;
    text-decoration: underline dotted #FFCB61 8px;
    text-underline-offset: 4px;
    text-align: center;
}

.fade-text {
    animation: fadetxt linear 3s;
    animation-fill-mode: forwards;
}

@keyframes fadetxt {
    0% {
        opacity: 0;
    }
    50% {
        font-size: 2.75;
    }
    100% {
        opacity: 1;
        font-size: 3.25rem;
    }
}

img {
  float: left;
  max-width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}

h2::before,
h2::after {
    content: "\1F517";
    font-size: 1.5rem;
    padding: 5px;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
    color: #77BEF0;
    text-transform: lowercase;
    margin-top: 15%;
    padding-left: 30px;
}

p {
    text-transform: none;
    font-style: oblique;
    line-height: 100%;
    letter-spacing: 1px;
    margin-top: 5%;
}

nav li {
    list-style-type: none;
}

nav li::before,
nav li::after {
    content: "\1F31F";
    padding: 10px;
}

nav {
    text-align: center;
    background-color: #77BEF0;
    position: sticky;
    top: 0;
    padding: .1px;
}

nav a {
    font-weight: 600;
    font-size: 1.5rem;
}

nav li {
  display: inline;
  padding: 10px;
}

nav a {
    color: #FF894F;
}

nav a:visited {
    color: #c7172e;
}

nav a:hover {
    cursor:pointer;
}

nav a:hover {
    color:chocolate;
}

.fade-img {
    animation: fadeimg ease-in 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeimg {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        border-radius: 10%;
        border: solid 2px #FFCB61;
    }
}


.Assignments li {
    list-style-type: none;
}

.Assignments li::before {
    content: "\1F31F";
    font-size: 1rem;
}

.Assignments a {
    color: #FF894F;
    font-size: 1rem;
}

.Assignments a:visited {
    color: #EA5B6F;
}

.Assignments a:hover {
    color: chocolate;
}


footer {
    color: #77BEF0;
    text-align: center;
}

footer a {
    color: #FF894F;
    padding: 1rem;
}

footer a:visited {
    color: #EA5B6F;
}

footer a:hover {
    color: chocolate;
}

p {
    text-align: center;
}

p a {
    color: #FFCB61;
}