html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    color:darkslategray;
}

:root {
    --font-size: 1vw;
    --color-blue: lightblue;
    --color-pink: rgb(157, 171, 248);
}

    nav {
        background-image: linear-gradient(to bottom right, var(--color-blue), var(--color-pink));
    }

    nav li {
        list-style-type: none;
    }

    nav li::before,
    nav li::after {
        content: "\2665";
        padding: 10px;
    }

    nav {
        text-align: center;
        background-color: #77BEF0;
        position: sticky;
        top: 0;
        padding: .1px;
    }

    nav a {
        font-weight: 600;
        font-size: 1.5rem;
    }

    nav li {
    display: inline;
    padding: 10px;
    }

    nav a {
        color: white;
    }

    nav a:visited {
        color: lavender;
    }

    nav a:hover {
        cursor: pointer;
    }

    nav a:hover {
        color: purple;
    }

    h1 {
        font-size: calc(var(--font-size) * 5);
        background-image: linear-gradient(60deg, var(--color-blue), var(--color-pink));
        background-clip: text;
        color: transparent;
        text-transform: uppercase; 
        font-weight: regular;
        letter-spacing: .1rem;
        text-align: center;
        margin: 0 auto;
    }

.piece1, .piece2, .piece3, .piece4, .piece5, .piece6 {
    display: inline-block;
    margin: 2% 5% 5% 8%;
}


.piece1 img{
    width: 300px;
    border: 5px solid lavender;
    box-shadow: 10px 10px 5px grey;
    margin: 20px;
}

.piece2 img{
    width: 300px;
    border: 5px solid lavender;
    box-shadow: 10px 10px 5px grey;
    margin: 20px;
}

.piece3 img{
    width: 300px;
    border: 5px solid lavender;
    box-shadow: 10px 10px 5px grey;
    margin: 20px;
}

.piece4 img{
    width: 300px;
    border: 5px solid lavender;
    box-shadow: 10px 10px 5px grey;
    margin: 20px;
}

.piece5 img{
    width: 300px;
    border: 5px solid lavender;
    box-shadow: 10px 10px 5px grey;
    margin: 20px;
}

.piece6 img{
    width: 300px;
    border: 5px solid lavender;
    box-shadow: 10px 10px 5px grey;
    margin: 20px;
}
