/*
    .croissant-one-regular {
  font-family: "Croissant One", serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 125%;
  color: brown;
}

* ,
* ::before ,
* ::after {
  box-sizing: inherit;
}

nav {
  background-color: burlywood;
  text-align: center;
}


nav li {
  display: inline;
}

nav a {
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav a:link,
nav a:visited {
  text-decoration: none;
}

nav a:hover,
nav a:active {
  background-color: bisque;
  color: darkgoldenrod;
  text-decoration: underline;
}

main {
  width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Croissant One", serif;
}

h1 {
  font-size: 2rem;
  margin: 6% 0;
  text-align: center;
  text-shadow: 3px 5px 3px #ccc;
}

header {
  margin: 10%;
}

img {
  float: left;
  max-width: 30%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50%;
  box-shadow: 3px 5px 3px #ccc;
  shape-outside: circle(50%);
}

header h2 {
  margin-top: 8%;
}

.rate {
  clear: both;
  margin-top: 6%;
  text-align: center;
  font-size: 1.2rem;
}

.emoji::after {
  content: "\1f370";
}

.details,
.ingredients,
.instructions,
.nutrition {
  width: 40%;
  float: left;
}

.details,
.instructions {
  margin-right: 16%;
  margin-left: 2%;
}

blockquote {
  clear: both;
  width: 300px;
  height: 280px;
  padding: 78px 16px 0 20px;
  border-radius: 50%;
  background-color: bisque;
  outline: dotted 6px goldenrod;
  outline-offset: 10px;
  font-family: "Croissant One", serif;
  font-size: 1rem;
  margin: 40px auto;
}

blockquote small {
  text-align: right;
}

footer {
  background-color: burlywood;
  color: white;
  padding: 2% 0;
  margin-top: 10px;
}

footer a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

footer ul {
  list-style-type: none;
}

.col1,
.col2,
.col3 {
  display: block;
  float: left;
  width: 33%;
}

.col1 a:hover,
.col2 a:hover,
.col3 a:hover {
  background-color: bisque;
  color: darkgoldenrod;
  text-decoration: underline;
}

