html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

* ,
* ::before ,
* ::after {
  box-sizing: inherit;
}

:root {
    --font-size: 1vw;
    --color-blue: lightblue;
    --color-pink: rgb(157, 171, 248);
}

nav {
    text-align: center;
    margin-bottom: 3.5rem;
}

nav li {
  display: inline;
}

nav a {
  padding: 12px 16px;
  background-color: var(--color-blue);
  border-radius: 8px;
  margin-right: 8px;
}

nav a:visited {
    color: grey;
}

nav a:hover {
    cursor: pointer;
}

nav a:hover {
    color: purple;
}

body {
    background-image: url(/img/20201013_133128.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#wrapper {
    width: 60%;
    background-color: rgba(255, 238, 215, 0.87);
    color: var(--color-pink);
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.pricing {
  margin-bottom: 3rem;
}

.policy {
  margin-bottom: 3rem;
}


form {
  padding-left: 3rem;
}


label,
span {
  display: inline-block;
  width: 250px;
  margin-right: 20px;
  text-align: right;
}


.radio label {
  width: 12px;
}


span {
  margin-top: 20px;
  margin-bottom: 20px;
}


input[type=text],
input[type=email],
input[type=tel],
input[type=date],
input[type=number],
input[type=file],
input[type=checkbox] {
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
}


textarea {
  border-radius: 8px;
}


input[type=checkbox],
input[type=radio] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}


input[type=submit],
input[type=reset] {
  background-color: white;
  color: var(--color-pink);
  padding: .5rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}


button[type=submit] {
  margin-top: 2rem;
}
