html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

*, 
* ::before, 
* ::after {
    box-sizing: inherit;
}

:root {
    --font-size: 1vw;
    --color-blue: lightblue;
    --color-pink: rgb(157, 171, 248);
}

nav {
    background-image: linear-gradient(to bottom right, var(--color-blue), var(--color-pink));
}

nav li {
    list-style-type: none;
}

nav li::before,
nav li::after {
    content: "\1F31F";
    padding: 10px;
}

nav {
    text-align: center;
    background-color: #77BEF0;
    position: sticky;
    top: 0;
    padding: .1px;
}

nav a {
    font-weight: 600;
    font-size: 1.5rem;
}

nav li {
  display: inline;
  padding: 10px;
}

nav a {
    color: white;
}

nav a:visited {
    color: lavender;
}

nav a:hover {
    cursor: pointer;
}

nav a:hover {
    color: purple;
}

.parent {
    width: 1100px;
    height: 680px;
    margin: 2% auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
}

.div1 span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    line-height: 60%;
    color:steelblue;
}

.div1 p {
    font-size: 1.5rem;
    color:steelblue;
    margin-left: 9%;
}

/* grid-area: row start / column start / row end / column end; */

.div1 { 
    grid-area: 1 / 1 / 3 / 4;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div2 { 
    grid-area: 1 / 3 / 3 / 4; 
    background-color: #77BEF0;
    max-width: 216.81px;
    max-height: 269.59px;
}


.div3 { 
    grid-area: 3 / 1 / 5 / 2; 
    background-color: #77BEF0;
}

.div4 { 
    grid-area: 3 / 2 / 5 / 4; 
    background-color: #77BEF0;
}

.div5 { 
    grid-area: 5 / 1 / 6 / 2; 
    background-color: #77BEF0;
}

.div6 { 
    grid-area: 5 / 2 / 6 / 3; 
    background-color: #77BEF0;
}

.div7 { 
    grid-area: 5 / 3 / 6 / 4; 
    background-color: #77BEF0;
}

.div8 { 
    grid-area: 1 / 4 / 3 / 5; 
    background-color: #77BEF0;
}

.div9 { 
    grid-area: 1 / 5 / 3 / 6; 
    background-color: #77BEF0;
}

.div10 { 
    grid-area: 3 / 4 / 4 / 5; 
    background-color: #77BEF0;
}

.div11 { 
    grid-area: 3 / 5 / 4 / 6; 
    background-color: #77BEF0;
}

.div12 { 
    grid-area: 4 / 4 / 6 / 6; 
    background-color: #77BEF0;
}