html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
}

.fade-text {
    animation: fadetxt linear 3s;
    animation-fill-mode: forwards;
}


img {
  float: left;
  max-width: 20%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}


p {
    text-transform: none;
    font-style: oblique;
    line-height: 100%;
    letter-spacing: 1px;
    margin-top: 5%;
}